<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Node #{ title ? '|' + title : '' }
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/app.css", rel="stylesheet")
        block css-links
        block css-code
        
    body
        header#header
            nav.nav.navbar.navbar-dark
                ul
                    li.nav-link
                        a(href="/", title="Home") Home 
                    li.nav-link
                        a(href="/add", title="Push user") Push User
        .container
            block content

    script(src="js/jquery-3.3.1.slim.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    block scripts
    
    